h1{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background: red;
    font-size: 10px;
    animation: txt_ 2s infinite ;

}
h1:hover{
    background: cyan;
}
@keyframes txt_{
    0%{dreg:10%; background: darkorange;}
    20%{dreg:30%; background:blueviolet;}
    40%{dreg:60%; background: orange;}
}
img{
    width: 100%;
    height: 100%;
}
p{
    font-size: 100px;
    color: chartreuse;
    font-family: 'Times New Roman', Times, serif;
}