{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center"></div>
        
        </div>
        <div class="row">
            <div class="col-md-12 py-0">
                <nav class="navbar navbar-expand-md  bg-dark text-white">
                    <a class="navbar-brand" href="">navbar-brand</a>
                    <button data-toggle="collapse" data-target="#mynav" class="navbar-toggler" >
                            <span class="navbar-toggler-icon bg-info"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynav">
                        <ul class="navbar-nav mx-auto">
                            <li class="navbar-item">
                                    <a class="nav-link" href="">HOME</a>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="">contact us</a>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="">About us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Info </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">dhaliwal</a>
                                    <a class="dropdown-item">dhaliwal</a>
                                    <a class="dropdown-item">dhaliwal</a>
                                </div>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <i class="fas fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <i class="fab fa-facebook"></i>
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                     </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        {% block 'coem' %} {% endblock %}
    </div>
</body>
</html>