{% extends 'base.html' %}

{% block 'coem' %} 

    <p><mark>Lorem ipsum dolor sit amet consectetur adipisicing elit.</mark>
        <strong>Quos praesentium nemo neque! Minus maxime fugit temporibus eaque quia repellendus aliquam,</strong>
        sit velit ipsa veritatis? Alias ratione blanditiis maxime obcaecati ad.</p>

{% endblock %}