{% extends 'base.html' %}

{% block 'coem' %} 
    
    <h1>hello! sharry dhaliwal</h1><br> 
    <img src="../static/images/laptop.jpg" alt="#">
    <p><strong>Lorem</strong>  ipsum dolor sit amet consectetur adipisicing elit. 
        Nemo ducimus corporis magni quasi, <br>
        enim id accusamus nulla odit harum doloremque unde minima aut 
        rem vero veniam dicta earum eius deserunt.</p>
    

{% endblock %}
